.header {
    width: 100%;
    height: 10%;
    background-color: rgb(255, 201, 243);
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    justify-content: space-around;
    padding: 3rem 0;
    color: #242424;
    box-shadow: 10px 5px 5px #75757536
}

h1 {
    padding-left: 2rem;
}